{% extends "movies/base.html" %}
{% block title %} {{ movie.title }} {% endblock title %}
 {% block container %}
    <div class="container py-md-3">
        {% endblock container %}
                    {% block sidebar %}
            <div class="side-bar col-lg-4">
                {% endblock sidebar %}
                    {% block movie %}
<div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-4">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                {{ movie.title }}
                            </h3>
                            <h5 class="editContent"></h5>
                            <ul>
                                <li style="list-style: none">
                                    <span><b>Год:</b> {{ movie.year }}</span></li>
                                <li style="list-style: none">
                                    <span><b>Страна:</b> {{ movie.country }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Слоган:</b> {{ movie.tagline }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        {% for director in movie.directors.all %}
                                            <a href="{% url "actor_detail" director.name %}">
                                        {{ director.name }}
                                        </a>
                                        {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none"><span><b>Жанр:</b>
                                    {% for genre in movie.genres.all %}
                                        {{ genre.name }}
                                    {% endfor %}
                                    </span>
                                </li>
                                <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premiere }}</span>
                                </li>
                                <li style="list-style: none">
                                    <span><b>Бюджет:</b> ${{ movie.budget }}</span></li>

                                <li style="list-style: none"><span><b>Сборы в мире:</b> ${{ movie.fess_in_world }}</span>
                                </li>
                                <li style="list-style: none"><span><b>Рейтинг Кинопоиск:</b> {{ movie.reyting }}</span>
                                </li>

                                </div>
                                    <div class="clearfix"></div>
                                </div>
                            <div class="row sub-para-w3layouts mt-5">

                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            О фильме {{ movie.title }}
                        </h3>
                        <p>
                            {% for image in movie.movieshots_set.all %}
                            <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.description }}">
                            {% endfor %}
                        </p>
                        <p class="editContent" style="outline: none; cursor: inherit;">
                            {{ movie.description }}
                        </p>
                        <p class="mt-3 italic-blue editContent"
                           style="outline: none; cursor: inherit;">
                            <iframe width="560" height="315"
                                    src={{ movie.treyler }}
                                    frameborder="0" allow="accelerometer; autoplay;
                                                                           encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>

                            </iframe>
                        </p>
                    </div>
                        </div>
                    </div>

                    <hr>
    {% if user.is_authenticated %}
                    <div class="row">
                        <div class="single-form-left">
                            <!-- contact form grid -->
                            <div class="contact-single">
                                <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;"></span>Оставить
                                    отзыв</h3>
                                <form action="{% url "add_review" movie.id %}" method="post" class="mt-4">
                                    {% csrf_token %}
                                    <div class="form-group editContent">
                                        <label for="contactcomment" class="editContent">Ваш
                                            комментарий
                                            *</label>
                                        <textarea class="form-control border" rows="5" name="text"
                                                  id="contactcomment" required=""></textarea>
                                    </div>
                                    <div class="d-sm-flex">
                                    </div>
                                    <button type="submit"
                                            class="mt-3 btn btn-success btn-block py-3">Отправить
                                    </button>
                                </form>
                            </div>
                            <!--  //contact form grid ends here -->
                        </div>
                    </div>
{% else %}
    <a>Оставлять комментарии могут только зарегистрированные пользователи</a>
    <a href="{% url 'account_login' %}">
                            Вход
                        </a>
    {% endif %}
                        <div class="single-form-left">
                            {% for review in movie.reviews_set.all %}
                                <div class="media-body mt-4">
                                    <h5 class="mt-0 editContent">
                                        {{ review.user }}
                                    </h5>
                                    <p class="mt-2 editContent">
                                        {{ review.text }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>


                </div>

 {% endblock movie %}