        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="index.html" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    Anime Movie
                                </span>
                            </a>
                        </h2>
                        <p class="editContent" >
                            Мой дипломный проект, который я сделал за два дня. Не хватает системы платежей.
                        </p>
                        <h4 class="sub-con-fo ad-info my-4 editContent" >@Aliaksei_Kharlap</h4>
                    </div>
                    <div class="col-lg-8 footer-right">
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Разделы</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="{% url '' %}" class="editContent" >Главная</a>
                                    </li>
                                    <li>
                                        <a href="{% url '' %}" class="editContent" >Категории</a>
                                    </li>
                                    <li>
                                        <a href="c{% url '' %}" class="editContent" >Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <!-- social icons -->
                                <div class="agileinfo_social_icons">
                                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Pages</h3>
                                    <ul class="list-unstyled w3layouts-icons">

                                        <li>
                                            <a href="#" class="editContent" >About Us</a>
                                        </li>
                                        <li>
                                            <a href="#" class="editContent" >About Us</a>
                                        </li>
                                        <li>
                                            <a href="#" class="editContent" >About Us</a>
                                        </li>
                                        <li>
                                            <a href="#" class="editContent" >About Us</a>
                                        </li>
                                        <li>
                                            <a href="#" class="editContent" >About Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Contact Info</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:info@example.com">info@example.com</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Location</h4>
                                        <p class="editContent" >Minsk City</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2021 Aliaksei_kharlap. All rights reserved | Design by me
                    </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
                    <!-- //move top icon -->
                </div>
            </div>
        </div>